{% extends "base.html" %}

{% from "macros.html" import render_string_field, render_select_field %}

{% block title %}Редактирование выствки | Панель администратора{% endblock %}

{% block content %}
<div class="card">
  <h5 class="card-header">Редактирование выставки</h5>
  <div class="card-body">
    <form method="POST" action="/edit_exhibition?museum_id={{ museum._id }}&exhibition_id={{ exhibition._id }}">
      {{ form.csrf_token }}
      {{ render_string_field(form.title, exhibition.title) }}
      {{ render_string_field(form.description, exhibition.description) }}
      {{ render_string_field(form.image_url, exhibition.image_url) }}
      <div class="form-group" >
        <label for="{{ form.languages.name }}">{{ form.languages.label.text }}</label>
        <div class="ml-4">
          <div id="languages-wrapper">
            {% for i in range(exhibition.languages|length) %}
              <input id="languages-{{ i }}-language" class="form-control mb-3" name="languages-{{ i }}-language" required="" type="text" value="{{ exhibition.languages[i] }}">
            {% endfor %}
          </div>
          <div>
            <button type="button" class="btn btn-outline-primary btn-sm mr-2" id="pop-language"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-outline-primary btn-sm" id="push-language"><i class="fas fa-plus"></i></button>
          </div>
        </div>
      </div>
      {{ render_string_field(form.time, exhibition.time) }}
      {{ render_select_field(form.type, exhibition.type) }}
      <div class="mb-3">
        <a href="/items?museum_id={{ museum._id }}&exhibition_id={{ exhibition._id }}">Перейти к экспонатам</a>
      </div>
      <button type="submit" class="btn btn-primary">Сохрнить изменения</button>
    </form>
  </div>
</div>
{% endblock %}

{% block endbody %}
<script>
  $("#push-language").click(function () {
    let i = $("#languages-wrapper input").length
    $("#languages-wrapper").append('<input id="languages-' + i + '-language" class="form-control mb-3" name="languages-' + i + '-language" required="" type="text" value="">')
    
  })
  $("#pop-language").click(function () {
    if ($("#languages-wrapper input").length > 1) {
      $("#languages-wrapper input").last().remove()
    }
  })
</script>
{% endblock %}